<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- Arm -->
    <xacro:property name="aj1_lower_limit" value="${radians( -15)}"/>
    <xacro:property name="aj1_upper_limit" value="${radians( 180)}"/>
    <xacro:property name="aj2_lower_limit" value="${radians(-150)}"/>
    <xacro:property name="aj2_upper_limit" value="${radians( 150)}"/>
    <xacro:property name="aj3_lower_limit" value="${radians(-150)}"/>
    <xacro:property name="aj3_upper_limit" value="${radians( 150)}"/>
    <xacro:property name="aj4_lower_limit" value="${radians(-360)}"/>
    <xacro:property name="aj4_upper_limit" value="${radians( 360)}"/>
    <xacro:property name="aj5_lower_limit" value="${radians(-30)}"/>
    <xacro:property name="aj5_upper_limit" value="${radians( 30)}"/>
    <xacro:property name="aj6_lower_limit" value="${radians(-90)}"/>
    <xacro:property name="aj6_upper_limit" value="${radians( 90)}"/>
    
    <xacro:property name="aj1_velocity_limit" value="${radians(30)}"/>
    <xacro:property name="aj2_velocity_limit" value="${radians(30)}"/>
    <xacro:property name="aj3_velocity_limit" value="${radians(30)}"/>
    <xacro:property name="aj4_velocity_limit" value="${radians(30)}"/>
    <xacro:property name="aj5_velocity_limit" value="${radians(30)}"/>
    <xacro:property name="aj6_velocity_limit" value="${radians(30)}"/>

    <xacro:property name="atorque_min" value="-1000.0"/>
    <xacro:property name="atorque_max" value="1000.0"/>

    <xacro:property name="aj1_init_pose" value="${PI}"/>
    <xacro:property name="aj2_init_pose" value="1.047"/>
    <xacro:property name="aj3_init_pose" value="-2.356"/>
    <xacro:property name="aj4_init_pose" value="${PI}"/>
    <xacro:property name="aj5_init_pose" value="0.0"/>
    <xacro:property name="aj6_init_pose" value="0.0"/>
    
    <!-- Leg -->
    <xacro:property name="j1_lower_limit" value="${radians( -90)}"/>
    <xacro:property name="j1_upper_limit" value="${radians(  90)}"/>
    <xacro:property name="j2_lower_limit" value="${radians(-150)}"/>
    <xacro:property name="j2_upper_limit" value="${radians(  10)}"/>
    <xacro:property name="j3_lower_limit" value="${radians(-160)}"/>
    <xacro:property name="j3_upper_limit" value="${radians( 120)}"/>

    <xacro:property name="j1_velocity_limit" value="${radians(180)}"/>
    <xacro:property name="j2_velocity_limit" value="${radians(180)}"/>
    <xacro:property name="j3_velocity_limit" value="${radians(180)}"/>

    <xacro:property name="torque_min" value="-10000.0"/>
    <xacro:property name="torque_max" value="10000.0"/>

    <xacro:property name="j1_init_pose" value="0.0"/>
    <xacro:property name="j2_init_pose" value="-0.96"/>
    <xacro:property name="j3_init_pose" value="1.017"/>

    <!-- foot -->

</robot>