<?xml version="1.0" ?>
<robot name="moonbot01" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- include files -->
  <xacro:include filename="$(find moonbot_description)/urdf/yonaka_0722/materials.xacro"/>
  <xacro:include filename="$(find moonbot_description)/urdf/yonaka_0722/moonbot01_macro.xacro"/>
  <xacro:include filename="$(find moonbot_description)/urdf/yonaka_0722/common_gazebo.xacro"/>

  <xacro:moonbot01/>

</robot>
